
<!DOCTYPE html>
<html>
<head>
	<title>Personal info</title>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/assets/css/progress.css"/>
</head>

<<<<<<< HEAD
<!-- Header -->
<header id="header">
    <nav class="left">
        <a href="#menu"><span>Menu</span></a>
    </nav>
    <a href="index.html" class="logo">Video Rec for Good</a>
    <nav class="right">
        <a href="/auth/drive" class="button alt"><%= user.username %></a>
    </nav>
</header>
=======
<body>
	<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
		<a class="navbar-brand" href="#">Video Rec for Good</a>
	</nav>
>>>>>>> 1555cbd861fecd84277ef1ad03cb121040509af2

	<!-- MultiStep Form -->
	<div class="row">
	    <div class="col-md-12">
	        <form id="msform">
	            <!-- progressbar -->
	            <ul id="progressbar">
	                <li class="active">First Survey</li>
	                <li>Previous Take-out</li>
	                <li>Memory</li>
	                <li>Intention</li>
	                <li>Finished!</li>
	            </ul>
	            <!-- fieldsets -->
	            <fieldset>
	                <h2 class="fs-title">Basic Information</h2>
	                <h3 class="fs-subtitle">Tell us something more about you</h3>
	                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfrmlaowthFAHdGT5t9tkovK-KXHYwb2GYNhaPcffMRbEVilw/viewform?embedded=true" width="1000" height="2667" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	                <input type="button" name="next" class="next action-button" value="Next"/>
	            </fieldset>
	            <fieldset>
	                <h2 class="fs-title">Previous take-out</h2>
	                <h3 class="fs-subtitle">Your YouTube history of last 3 months</h3>
	                <ol style="color: #343434;">
	                    <li>Visit <a href="https://takeout.google.com/settings/takeout/custom/youtube">YouTube Takeout
	                        Website</a> and sign in with your google account
	                    </li>
	                    <li>Select include all kinds of data and press ‘Next step’.</li>
	                    <li>Customize archive format to .zip with 2GB size and press “Create Archive”</li>
	                    <li>Upload the zip file</li>
	                </ol>
	                <div class="input-group mb-3">
	                    <div class="custom-file">
	                        <input type="file" class="custom-file-input" id="inputGroupFile01">
	                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
	                    </div>
	                </div>
	                <!--<input type="file" name="pic" accept="image/*">-->
	                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
	                <input type="button" name="next" class="next action-button" value="Next"/>
	            </fieldset>
	            <fieldset>
	                <h2 class="fs-title">What topics do you want to explore?<br> Please select 3-10 options</h2>
		             <div>
						  <div class="col-sm-4 form-check form-check-inline">
						    <label class="checkbox-inline form-check-label">
						      <input class="form-check-input" type="checkbox" value="Mesmer" id="memOpt1">Education</label>
						  </div>
						  <div class="col-sm-4">
						    <label class="checkbox-inline">
						      <input type="checkbox" value="Guardian" name="Checkbox[]">Entertainment</label>
						  </div>
						  <div class="col-sm-4">
						    <label class="checkbox-inline">
						      <input type="checkbox" value="Necromancer" name="Checkbox[]">Family</label>
						  </div>
					</div>

					<div class="row">
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Ranger" name="Checkbox[]">Film & animation</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Elementalist" name="Checkbox[]">Animals</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Warrior" name="Checkbox[]">Food</label>
					  </div>
					</div>

					<div class="row">
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Thief" name="Checkbox[]">Gaming</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Engineer" name="Checkbox[]">How-to & Style</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Revenant" name="Checkbox[]">Music</label>
					  </div>
					</div>

					<div class="row">
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Thief" name="Checkbox[]">News & Politics</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Engineer" name="Checkbox[]">Nonprofits & Activism</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Revenant" name="Checkbox[]">Science & Technology</label>
					  </div>
					</div>

					<div class="row">
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Thief" name="Checkbox[]">People & Blogs</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Engineer" name="Checkbox[]">Sports</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Revenant" name="Checkbox[]">Travel & Events</label>
					  </div>
					</div>

	                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
	                <input type="button" name="next" class="next action-button" value="Next"/>
	            </fieldset>
	        	<fieldset>
	                <h2 class="fs-title">What topics do you watched on YouTube recently?<br> Please select 3-10 options</h2>
		             <div>
						  <div class="col-sm-4 form-check form-check-inline">
						    <label class="checkbox-inline form-check-label">
						      <input class="form-check-input" type="checkbox" value="Mesmer" id="memOpt1">Education</label>
						  </div>
						  <div class="col-sm-4">
						    <label class="checkbox-inline">
						      <input type="checkbox" value="Guardian" name="Checkbox[]">Entertainment</label>
						  </div>
						  <div class="col-sm-4">
						    <label class="checkbox-inline">
						      <input type="checkbox" value="Necromancer" name="Checkbox[]">Family</label>
						  </div>
					</div>

					<div class="row">
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Ranger" name="Checkbox[]">Film & animation</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Elementalist" name="Checkbox[]">Animals</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Warrior" name="Checkbox[]">Food</label>
					  </div>
					</div>

					<div class="row">
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Thief" name="Checkbox[]">Gaming</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Engineer" name="Checkbox[]">How-to & Style</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Revenant" name="Checkbox[]">Music</label>
					  </div>
					</div>

					<div class="row">
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Thief" name="Checkbox[]">News & Politics</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Engineer" name="Checkbox[]">Nonprofits & Activism</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Revenant" name="Checkbox[]">Science & Technology</label>
					  </div>
					</div>

					<div class="row">
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Thief" name="Checkbox[]">People & Blogs</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Engineer" name="Checkbox[]">Sports</label>
					  </div>
					  <div class="col-sm-4">
					    <label class="checkbox-inline">
					      <input type="checkbox" value="Revenant" name="Checkbox[]">Travel & Events</label>
					  </div>
					</div>

	                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
	                <input type="button" name="next" class="next action-button" value="Next"/>
	            </fieldset>
	            <fieldset>
	            	<h2>Congratualations! You are all set!</h2>
	                <h4>Hope you will enjoy our recommendations</h4>
	                <h4>The more often you open our emails, the higher chance of the reward!</h4>
		  
	            </fieldset>

	        </form>
	    </div>
	</div>
	<!-- /.MultiStep Form -->



<script src="../public/assets/js/jquery.min.js"></script>
<script src="../public/assets/js/jquery.scrolly.min.js"></script>
<script src="../public/assets/js/skel.min.js"></script>
<script src="../public/assets/js/util.js"></script>
<script src="../public/assets/js/main.js"></script>

<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>


<script type="text/javascript">
    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches
    $(".next").click(function () {
        if (animating) return false;
        animating = true;
        current_fs = $(this).parent();
        next_fs = $(this).parent().next();
        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50) + "%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
                    'transform': 'scale(' + scale + ')',
                    'position': 'absolute'
                });
                next_fs.css({'left': left, 'opacity': opacity});
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });
    $(".previous").click(function () {
        if (animating) return false;
        animating = true;
        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();
        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1 - now) * 50) + "%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'left': left});
                previous_fs.css({'transform': 'scale(' + scale + ')', 'opacity': opacity});
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });
    $(".submit").click(function () {
        return false;
    })
</script>

<script>
    function bs_input_file() {
        $(".input-file").before(
            function () {
                if (!$(this).prev().hasClass('input-ghost')) {
                    var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                    element.attr("name", $(this).attr("name"));
                    element.change(function () {
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    });
                    $(this).find("button.btn-choose").click(function () {
                        element.click();
                    });
                    $(this).find("button.btn-reset").click(function () {
                        element.val(null);
                        $(this).parents(".input-file").find('input').val('');
                    });
                    $(this).find('input').css("cursor", "pointer");
                    $(this).find('input').mousedown(function () {
                        $(this).parents('.input-file').prev().click();
                        return false;
                    });
                    return element;
                }
            }
        );
    }
    $(function () {
        bs_input_file();
    });
</script>

<!-- <script>
    // upload file name appears in the box
    // Add the following code if you want the name of the file appear on select
    window.onload = function () {
        var notification = document.querySelector("#overlay");
        notification.style.visibility = "hidden";
    };
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script> -->

</body>
</html>
