<form action="/upload/info" method="post" enctype="multipart/form-data>
<input value="BOOZE" type="checkbox" name="check[]" >PUB, MATES, <br>
<input value="TV"  type="checkbox" name="check[]">BRIBING THE KIDS TO GO BED<br>
<input value="BOOZE" type="checkbox" name="check[]">RAVING TILL THE EARLY HOURS<br>
<input value="PETS"  type="checkbox" name="check[]">PLAYING GRAND THEFT AUTO <br>
<input value="GEEK"  type="checkbox" name="check[]">TWEETING ABOUT SOMETHING <br>
<input value="SPORT"  type="checkbox" name="check[]">GYM<br>
<input value="XMAS"  type="checkbox" name="check[]">SINGING CHRISTMAS SONGS<br>
<input type="checkbox" class="chkNumber" name="check[]">SHARING A DELIGHTFUL BOTTLE


<div class="form-group">
  <label>When do you prefer to receive the recommended videos? (Please select all that apply)</label>
  <div class="form-check form-check-inline">
    <label class="checkbox-inline">
    <input value="Early morning (6am - 9am)" type="checkbox" id="timeSlot1" name="timeSlot[0]">Early morning (6am - 9am)</label>
  </div>
  <div class="form-check form-check-inline">
    <label class="checkbox-inline">
    <input value="Before noon (9am - 11am)" type="checkbox" id="timeSlot2" name="timeSlot[1]">Before noon (9am - 11am)</label>
  </div>
  <div class="form-check form-check-inline">
    <label class="checkbox-inline">
    <input value="Noon (11am - 2pm)" type="checkbox" id="timeSlot3" name="timeSlot[2]">Noon (11am - 2pm)</label>
  </div>
  <div class="form-check form-check-inline">
    <label class="checkbox-inline">
    <input value="Afternoon (2pm-5pm)" type="checkbox" id="timeSlot4" name="timeSlot[3]">Afternoon (2pm-5pm)</label>
  </div>
  <div class="form-check form-check-inline">
    <label class="checkbox-inline">
    <input value="Evening (5pm-7pm)" type="checkbox" id="timeSlot5" name="timeSlot[4]">Evening (5pm-7pm)</label>
  </div>
  <div class="form-check form-check-inline">
    <label class="checkbox-inline">
    <input value="Night (7pm - 10pm)" type="checkbox" id="timeSlot6" name="timeSlot[5]">Night (7pm - 10pm)</label>
  </div>
  <div class="form-check form-check-inline">
    <label class="checkbox-inline">
    <input value="Late night (10pm - 12am)" type="checkbox" id="timeSlot6" name="timeSlot[6]">Late night (10pm - 12am)</label>
  </div>
</div>
<input type="submit">


</form>
